// h1{
//     color: #fd7e14;
// }
$orange: #fd7e14;

// .orange{
//     // color: #fd7e14;
// }

$font-family: 'Lato', sans-serif;
$ont-family: 'Poppins', sans-serif;
$font-family: 'Raleway', sans-serif;
$font-family: 'Roboto', sans-serif;



.About div h1{
    font-size: 50px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -1px
   
}
.About div img {
    width: 60%;
    height: 90%;
    // margin: 30px 60px;
    
}
.About-2{
    margin:80px 20px;
}

.About-2 div img{
    width: 65%;
    height: 60vh;
    // margin: 50px 20px
    border-radius: 30px;
    
    

}

.About-2 div h1{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400; 
}

.About-2 div h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1.6;
}


.About-3{
    margin:80px 20px;
}

.About-3 div img{
    width: 65%;
    height: 60vh;
    // margin: 50px 20px
    border-radius:60px 30px 60px 30px;
    
    

}

.About-3 div h1{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.About-3 div h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1.6;
}


.About-4{
    margin:80px 20px;
}

.About-4 div img{
    width: 65%;
    height: 60vh;
    // margin: 50px 20px
    border-radius:110px 110px 25px 25px;
    
    

}

.About-4 div h1{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.About-4 div h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1.6;
}



:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
}